<div class="modal fade" id="modalAdd" tabindex="-1" aria-labelledby="modalAddLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title fs-5 h1 ms-2" id="modalAddLabel">Agregar Item</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="modal-body" [formGroup]="formItem" (ngSubmit)="sendItem()">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="isEquipment"
                        (change)="isEquipment=!isEquipment" checked>
                    <label class="form-check-label" for="isEquipment">¿Es un equipo?</label>
                </div>
                <div class="mb-3">
                    <label for="name">Nombre del item</label>
                    <input formControlName="name" type="text" class="form-control" id="name"
                        placeholder="Nombre del item" />
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="addbrand"
                        (change)="isBrandChecked=!isBrandChecked">
                    <label class="form-check-label" for="addbrand">¿Agregar marca?</label>
                </div>
                <div class="mb-3" *ngIf="isBrandChecked">
                    <label for="brand">Marca del item</label>
                    <input formControlName="brand" type="text" class="form-control" id="brand"
                        placeholder="Marca del item" />
                </div>
                <ng-container *ngIf="isEquipment">

                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="addmodel"
                            (change)="isModelChecked=!isModelChecked">
                        <label class="form-check-label" for="addmodel">¿Agregar modelo?</label>
                    </div>
                    <div class="mb-3" *ngIf="isModelChecked">
                        <label for="model">Modelo del item</label>
                        <input formControlName="model" type="text" class="form-control" id="model"
                            placeholder="Modelo del item" />
                    </div>

                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="addserial"
                            (change)="isSerialChecked=!isSerialChecked">
                        <label class="form-check-label" for="addserial">¿Agregar número de serie?</label>
                    </div>
                    <div class="mb-3" *ngIf="isSerialChecked">
                        <label for="serial">Número de serie del item</label>
                        <input formControlName="serial" type="text" class="form-control" id="serial"
                            placeholder="Número de serie del item" />
                    </div>

                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="addinventory"
                            (change)="isInventoryChecked=!isInventoryChecked">
                        <label class="form-check-label" for="addinventory">¿Agregar número de inventario?</label>
                    </div>
                    <div class="mb-3" *ngIf="isInventoryChecked">
                        <label for="inventory">Número de inventario del item</label>
                        <input formControlName="inventory" type="text" class="form-control" id="inventory"
                            placeholder="Número de inventario del item" />
                    </div>

                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="addnui"
                            (change)="isNUIChecked=!isNUIChecked">
                        <label class="form-check-label" for="addnui">¿Agregar NUI de item?</label>
                    </div>
                    <div class="mb-3" *ngIf="isNUIChecked">
                        <label for="nui">NUI del item</label>
                        <input formControlName="nui" type="text" class="form-control" id="nui"
                            placeholder="NUI del item" />
                    </div>

                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="addlocation"
                            (change)="isLocationChecked=!isLocationChecked">
                        <label class="form-check-label" for="addlocation">¿Agregar ubicación de item?</label>
                    </div>
                    <div class="mb-3" *ngIf="isLocationChecked">
                        <label for="location">Ubicación del item</label>
                        <input formControlName="location" type="text" class="form-control" id="location"
                            placeholder="Ubicación del item" />
                    </div>

                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="addmanager"
                            (change)="isManagerChecked=!isManagerChecked">
                        <label class="form-check-label" for="addmanager">¿Agregar encargado de item?</label>
                    </div>
                    <div class="mb-3" *ngIf="isManagerChecked">
                        <label for="manager">Encargado del item</label>
                        <input formControlName="manager" type="text" class="form-control" id="manager"
                            placeholder="Encargado del item" />
                    </div>

                </ng-container>
                <ng-container *ngIf="!isEquipment">

                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="addStock"
                            (change)="isStockChecked=!isStockChecked">
                        <label class="form-check-label" for="addStock">¿Agregar stock?</label>
                    </div>
                    <div class="mb-3" *ngIf="isStockChecked">
                        <label for="stock">Stock del item</label>
                        <input formControlName="stock" type="number" step="1" class="form-control" id="stock"
                            placeholder="Stock del item" />
                    </div>

                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="addFormula"
                            (change)="isFormulaChecked=!isFormulaChecked">
                        <label class="form-check-label" for="addFormula">¿Agregar formula?</label>
                    </div>
                    <div class="mb-3" *ngIf="isFormulaChecked">
                        <label for="formula">Formula del item</label>
                        <input formControlName="formula" type="text" class="form-control" id="formula"
                            placeholder="Formula del item" />
                    </div>

                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="addPresentation"
                            (change)="isPresentationChecked=!isPresentationChecked">
                        <label class="form-check-label" for="addPresentation">¿Agregar presentación?</label>
                    </div>
                    <div class="mb-3" *ngIf="isPresentationChecked">
                        <label for="presentation">Presentación del item</label>
                        <input formControlName="presentation" type="text" class="form-control" id="presentation"
                            placeholder="Presentación del item" />
                    </div>

                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="addLot"
                            (change)="isLotChecked=!isLotChecked">
                        <label class="form-check-label" for="addLot">¿Agregar lote?</label>
                    </div>
                    <div class="mb-3" *ngIf="isLotChecked">
                        <label for="lot">Lote del item</label>
                        <input formControlName="lot" type="text" class="form-control" id="lot"
                            placeholder="Lote del item" />
                    </div>

                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="addExpirationDate"
                            (change)="isExpirationDateChecked=!isExpirationDateChecked">
                        <label class="form-check-label" for="addExpirationDate">¿Agregar fecha de caducidad?</label>
                    </div>
                    <div class="mb-3" *ngIf="isExpirationDateChecked">
                        <label for="expirationDate">Fecha de caducidad item</label>
                        <input formControlName="expirationDate" type="date" class="form-control" id="expirationDate"
                            placeholder="Fecha de caducidad item" />
                    </div>

                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="addQuantity"
                            (change)="isQuantityChecked=!isQuantityChecked">
                        <label class="form-check-label" for="addQuantity">¿Agregar cantidad por unidad?</label>
                    </div>
                    <div class="mb-3" *ngIf="isQuantityChecked">
                        <label for="quantity">Cantidad por unidad del item</label>
                        <input formControlName="quantity" type="number" step="0.01" class="form-control" id="quantity"
                            placeholder="Cantidad por unidad del item" />
                    </div>
                </ng-container>
            </form>
            <div class="modal-footer">
                <button data-bs-dismiss="modal" type="submit" class="btn" title="Agregar" (click)="sendItem()">
                    <img class="icon" src="assets/icons/ok.svg" alt="">
                </button>
            </div>
        </div>
    </div>
</div>