<div class="modal fade" id="modalAddArea" tabindex="-1" aria-labelledby="modalAddAreaLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title fs-5 h1 ms-2" id="modalAddAreaLabel">Agregar Área</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="modal-body" [formGroup]="formArea" (ngSubmit)="sendArea()">
                <div class="mb-3">
                    <label for="name">Nombre del Área</label>
                    <input formControlName="name" type="text" class="form-control" id="name"
                        placeholder="Nombre del Área" />
                </div>
                <div class="mb-3">
                    <label for="about" class="form-label">Información sobre el Área</label>
                    <textarea formControlName="about" class="form-control" id="about" placeholder="Área encargada de..."
                        rows="5"></textarea>
                </div>
                <div class="mb-3">
                    <div class="mb-3">
                        <label for="profileImage" class="form-label">Imagen de Perfil del Área</label>
                        <div class="d-flex flex-wrap justify-content-around">
                            <img class="img img-thumbnail p-2 m-2" *ngFor="let icon of iconsArea" [src]="icon" alt=""
                                (click)="selectIcon(icon)" [ngClass]="iconSelected==icon?'selected':''">
                        </div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button data-bs-dismiss="modal" type="submit" class="btn" title="Agregar" (click)="sendArea()">
                    <img class="icon" src="assets/icons/ok.svg" alt="">
                </button>
            </div>
        </div>
    </div>
</div>