<main class="container">
    <div class="row">
        <div class="col-12">
            <div class="custom-header p-5 rounded text-center mt-3">
                <p class="title fw-bold">Importar Datos</p>
            </div>
        </div>
        <!-- Sección -->
        <form class="col-12 mt-5">
            <div class="form-check form-switch mb-3">
                <input class="form-check-input" type="checkbox" role="switch" id="isEquipment"
                    (change)="isEquipmentChecked=!isEquipmentChecked; getAreas()" checked>
                <label class="form-check-label h6"
                    for="isEquipment">{{isEquipmentChecked?'Equipos':'Reactivos'}}</label>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="h5" for="area">Seleccionar Área:</label>
                    <select id="area" class="form-select" aria-label="Seleccionar área" (change)="onAreaChange($event)">
                        <option [value]="-1" selected>Seleccionar Área</option>
                        <option [value]="area._id" *ngFor="let area of areas">{{area.name}}</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="h5" for="category">Seleccionar Categoría:</label>
                    <select id="category" class="form-select" aria-label="Seleccionar categoría"
                        (change)="onCategoryChange($event)">
                        <option [value]="-1" selected>Seleccionar Categoría</option>
                        <option [value]="category._id" *ngFor="let category of categories">{{category.name}}</option>
                    </select>
                </div>
            </div>
        </form>
        <div class="col-12">
            <div class="card p-3 mt-3">
                <div class="card-body">
                    <div>
                        <div class="form-group">
                            <label for="fileInput">Seleccione un archivo Excel:</label>
                            <input type="file" id="fileInput" (change)="onFileChange($event)" class="form-control"
                                accept=".xlsx, .xls">
                        </div>
                        <button type="submit" class="btn btn-primary mt-3" (click)="onSubmit()">Analizar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5" *ngIf="dataUpdate && dataUpdate.length > 0">
        <p class="h1">Datos a Actualizar</p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col" *ngFor="let header of headers">{{header}}</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="isEquipmentChecked">
                    <tr *ngFor="let item of dataUpdate">
                        <td>{{item.name}}</td>
                        <td>{{item.inventory}}</td>
                        <td>{{item.brand}}</td>
                        <td>{{item.model}}</td>
                        <td>{{item.serial}}</td>
                        <td>{{item.nui}}</td>
                        <td>{{item.location}}</td>
                        <td>{{item.manager}}</td>
                    </tr>
                </ng-container>
                <ng-container *ngIf="!isEquipmentChecked">
                    <tr *ngFor="let item of dataUpdate">
                        <td>{{item.name}}</td>
                        <td>{{item.inventory}}</td>
                        <td>{{item.brand}}</td>
                        <td>{{item.stock}}</td>
                        <td>{{item.formula}}</td>
                        <td>{{item.presentation}}</td>
                        <td>{{item.lot}}</td>
                        <td>{{item.expirationDate}}</td>
                        <td>{{item.quantity}}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
        <div class="col-12 d-flex justify-content-end">
            <button class="btn btn-outline-dark" (click)="updateAll()">Actualizar</button>
        </div>
    </div>
    <div class="row mt-5" *ngIf="dataNew && dataNew.length>0">
        <p class="h1">Datos a Crear</p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col" *ngFor="let header of headers">{{header}}</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="isEquipmentChecked">
                    <tr *ngFor="let item of dataNew">
                        <td>{{item.name}}</td>
                        <td>{{item.inventory}}</td>
                        <td>{{item.brand}}</td>
                        <td>{{item.model}}</td>
                        <td>{{item.serial}}</td>
                        <td>{{item.nui}}</td>
                        <td>{{item.location}}</td>
                        <td>{{item.manager}}</td>
                    </tr>
                </ng-container>
                <ng-container *ngIf="!isEquipmentChecked">
                    <tr *ngFor="let item of dataNew">
                        <td>{{item.name}}</td>
                        <td>{{item.inventory}}</td>
                        <td>{{item.brand}}</td>
                        <td>{{item.stock}}</td>
                        <td>{{item.formula}}</td>
                        <td>{{item.presentation}}</td>
                        <td>{{item.lot}}</td>
                        <td>{{item.expirationDate}}</td>
                        <td>{{item.quantity}}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
        <div class="col-12 d-flex justify-content-end">
            <button class="btn btn-outline-dark" (click)="createAll()">Crear</button>
        </div>
    </div>
</main>