<div class="modal fade" id="modalAddArea" tabindex="-1" aria-labelledby="modalAddAreaLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title fs-5 h1 ms-2" id="modalAddAreaLabel">Agregar Usuario</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="modal-body" [formGroup]="formUser" (ngSubmit)="sendUser()">
                <div class="mb-3">
                    <label for="username">Nombre de usuario</label>
                    <input formControlName="username" type="text" class="form-control" id="username"
                        placeholder="Nombre de usuario" />
                </div>
                <div class="mb-3">
                    <label for="name">Tipo de usuario:</label>
                    <div class="d-flex flex-wrap justify-content-center">
                        <div class="btn-group" role="group" aria-label="Filtro de solicitudes">
                            <input type="radio" class="btn-check" formControlName="type" name="type" id="admin" value="1">
                            <label class="btn btn-outline-dark" for="admin">Administrador</label>
                
                            <input type="radio" class="btn-check" formControlName="type" name="type" id="user" value="2">
                            <label class="btn btn-outline-dark" for="user">Usuario</label>
                
                            <input type="radio" class="btn-check" formControlName="type" name="type" id="guest" value="0">
                            <label class="btn btn-outline-dark" for="guest">Visitante</label>
                        </div>
                    </div>
                </div>
                
                <div class="mb-3">
                    <label for="password">Nueva contraseña</label>
                    <input formControlName="password" type="password" class="form-control" id="password"
                        placeholder="Nueva contraseña" />
                </div>
                <div class="mb-3">
                    <label for="passwordConfirm">Confirmar contraseña</label>
                    <input formControlName="passwordConfirm" type="password" class="form-control" id="passwordConfirm"
                        placeholder="Confirmar contraseña" />
                </div>
            </form>
            <div class="modal-footer">
                <button data-bs-dismiss="modal" type="submit" class="btn" title="Agregar" (click)="sendUser()">
                    <img class="icon" src="assets/icons/ok.svg" alt="">
                </button>
            </div>
        </div>
    </div>
</div>