<main class="container-fluid mt-4 p-4 custom-background rounded">
    <div class="row">
        <div class="col-12 mb-4">
            <p class="h1 text-center">Itinerario del día</p>
        </div>
        <div class="col-12">
            <form [formGroup]="formDate" class="row justify-content-center" (submit)="submit()">
                <div class="col-12 col-md-6 col-lg-3 mb-3 mb-lg-0">
                    <input formControlName="date" class="form-control text-center" type="date" name="date" id="date" />
                </div>
                <div class="col-12 col-md-auto mt-3 mt-md-0 d-flex justify-content-center">
                    <input class="btn btn-lg btn-outline-dark" type="submit" name="submit" id="submit" value="Obtener" />
                </div>
            </form>
        </div>
    </div>
    <div class="row" *ngIf="schedule.length > 0">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-bordered mt-4 table-striped">
                    <thead class="table-dark text-center">
                        <tr>
                            <th scope="col">Hora</th>
                            <th scope="col">Información</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr *ngFor="let slot of schedule">
                            <th scope="row">{{ slot.time }}</th>
                            <td class="text-break">
                                <p *ngFor="let request of slot.requests">
                                    {{ request.item?.name }} (User: {{ request.author }}) (ID: {{ request._id}})
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div *ngIf="schedule.length === 0" class="alert alert-info mt-4">
        No se encontraron solicitudes para esta fecha.
    </div>
</main>
